*.zip
Makefile
# manually adding
Debug
Info.plist
moc*.cpp
*.build
*.pro.user
*.xcodeproj
.DS_Store
*.stash

project.pbxproj
project.xcworkspace/
qt_makeqmake.mak
qt_preprocess.mak
xcshareddata/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
